* {
	box-sizing: border-box;
	font-family: "Open Sans";
	font-weight: 600;
	margin: 0px;
}

body {
	background-color: #5F5AA2;
	height: 100%;
	width: 100%;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.3;
}

.accent {
	color: #58A4B0;
}

/*Main Header CSS*/
.main-header {
	background-color: #05204A;
	color: white;

	display: flex;
	justify-content: space-between;
	height: 175px;
}

nav {
	margin-left: 10px;
}

.fa-bars {
	display: none;
}

ul {
	margin-top: 100px;
}

li {
	align-self: flex-end;
	display: inline-flex;
	font-size: 1.3em;
	list-style-type: none;
	margin: 10px;
	margin-right: 20px;
}

li:hover .fa-share-alt,
li:hover .fa-list-ul,
li:hover .fa-user,
li:hover
{
	color: #7B8486;
}

i {
	align-self: center;
	margin: 0 10px;
}

.right {
	margin: 15px;
}

.login {
	display: inline-flex;
	margin-left: 200px;
}

.admin {
	margin-top: 5px;
}

.title {
	align-items: center;
	display: inline-flex;
	font-family: 'UnifrakturMaguntia';
	font-size: 1.7em;
	margin-top: 10px;
}

h1 {
	font-family: 'UnifrakturMaguntia';
	margin-top: 0.4em;
}

.grimms {
	font-family: 'UnifrakturMaguntia';
	padding-right: 15px;
}

.title > img {
	/*width: 45px;*/
	align-self: center;
	margin: 10px;
	margin-bottom: 30px;
	height: 50px;
}

/*Main Section CSS*/
.main-section {
	background-color: #5F5AA2;
	color: #05204A;
	padding-bottom: 50px;
	padding-top: 10px;
	width: 100%;
}

h2 {
	font-size: 2.5em;
	padding: 30px;
	padding-left: 60px;
}

.big-container {
	margin: 0px auto;
	width: 1340px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 1340px;
}

article {
	background-color: #BCC4DB;
	color: #2F3137;
	filter: drop-shadow(2px 2px 2px #05204A);
	margin: 10px;
	width: 315px;
}

article > header {
	background-position: center;
	color: white;
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	height: 170px;
}

.art1 > header {
	background-image: url(../assets/images-dim/rotkaeppchen.jpeg);
}

.art1 > header:hover {
	background-image: url(../assets/images/rotkaeppchen.jpeg);
}

.art2 > header {
	background-image: url(../assets/images-dim/sleeping-beauty2.jpg);
}

.art2 > header:hover {
	background-image: url(../assets/images/sleeping-beauty.jpg);
}

.art3 > header {
	background-image: url(../assets/images-dim/schneewittchen.jpg);
}

.art3 > header:hover {
	background-image: url(../assets/images/schneewittchen.jpg);
}

.art4 > header {
	background-image: url(../assets/images-dim/haensel_gretel.jpg);
}

.art4 > header:hover {
	background-image: url(../assets/images/haensel_gretel.jpg);
}

.art5 > header {
	background-image: url(../assets/images-dim/froschkonig2.jpg);
}

.art5 > header:hover {
	background-image: url(../assets/images/froschkonig2.jpg);
}

.art6 > header {
	background-image: url(../assets/images-dim/rumpelstilzchen.jpg);
}

.art6 > header:hover {
	background-image: url(../assets/images/rumpelstilzchen.jpg);
}

.art7 > header {
	background-image: url(../assets/images-dim/rapunzel2.jpg);
}

.art7 > header:hover {
	background-image: url(../assets/images/rapunzel2.jpg);
}

.art8 > header {
	background-image: url(../assets/images-dim/aschenputtel.jpg);
}

.art8 > header:hover {
	background-image: url(../assets/images/aschenputtel.jpg);
}

h3 {
	font-size: 1.3em;
}

h4 {
	font-size: 0.9em;
	margin-top: 20px;
}

.arrow {
	padding: 10px;
	padding-left: 3px;
}

.arrow > i {
	margin-top: 10px;
}

.views {
	padding: 10px;
}

.views > h4 {
	margin-top: 10px;
}

.num {
	font-size: 2.25em;
	margin: 0px;
}

.art-content {
	padding: 20px;
}

.date {
	color: #636569;
	font-size: 1em;
}

.p-link {
	background-color: #848FA5;
	height: 60px;
	margin: 15px 0px;
	padding: 10px;
}

a {
	color: aliceblue;
	font-size: 1em;
	text-decoration: none;
}

a:visited {
	color: #3D518C;
}

a:hover {
	text-decoration: underline;
}

@media screen and (max-width:1360px) {
	body {
		font-size: 16px;
	}

	.big-container,
	.container {
		width: 1005px;
	}

	ul {
		margin-top: 15px;
		padding: 0;
	}

	li {
		display: block;
		padding: 0;
	}
}

@media screen and (max-width: 1025px) {
	.big-container,
	.container {
		width: 670px;
	}

	li {
		display: none;
	}

	.fa-bars {
		display: block;
		margin: 10px 20px;
	}
}

@media screen and (max-width: 690px) {
	.big-container,
	.container {
		width: 310px;
	}

	.login {
		justify-content: space-around;
		font-size: 1.2em;
		margin-left: 110px;
	}

	.admin,
	.grimms {
		display: none;
	}

	.title {
		display: flex;
		margin-top: 30px;
		margin-left: 0px;
		position: absolute;
		top: 50px;
		right: 15px;
	}

	h1 {
		font-size: 1.7em;
		margin: 0;
	}

	h2 {
		padding-left: 10px;
		font-size: 2em;
	}
	
	article {
		width: 290px;
	}
}
